p {
  font-style: bold;
}


table {
  height: 50px;
  position: relative;;
  margin: 10px;
  padding: 15px;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.main_divider {
  padding-top: 5%;
  width: 90%;
  height: 70%;
  position: absolute;;
}

form {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 100%;
  padding: 10px;
  margin: 10px;
}

#forms {
  float: left;
  width: 100%;
}

label {
  display: inline-block;
  width: 140px;
  text-align: left;
}

input {

}
